
body{
  background-color: rgb(12, 165, 83);
}


h1{

background-color: rgb(243, 215, 250);

}

h2{
background-color:rgb(243, 215, 250) ;

}

h3{
background-color:rgb(243, 215, 250) ;

}
h4{
background-color:rgb(243, 215, 250) ;

}

h5{
background-color:rgb(243, 215, 250) ;

}

h6{
background-color:rgb(243, 215, 250) ;



}


table{
  width: 300%;
  border-collapse: collapse;
  border: 1px solid #000;
}
th{
  background-color:rgb(187, 162, 211);
  height: 70px;
  text-align: left;
  border: 1px solid #000;
  padding: 15px;
  border-bottom: #000;
}
td{
  border: 1px solid #000;
  height:70px ;
  border-collapse: collapse;
  border-radius: 50px;
  text-align: left;
  vertical-align: top;
  padding: 15px;
  border-bottom: #000;
}

tr:nth-child(even){
background-color: rgb(187, 162, 211);
}
#pics{
  width: 400px;
  height: 400px;
  border:1px solid black;
  padding:1px;
  background-color:white;
}
#pics:hover{
  transform:scale(1.3);
  z-index:2;
}