
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(3, 1, 25);
}
h1{
  color: white;
}
.container{
  width: 100%;
  height: 100%;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content{
  position: absolute;
  width: 100%;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay{
  position: absolute;
  
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  background-color: 00000cc;
}

.map{
  height: 100%;
  position: absolute;
  padding: 3rem;

}
form{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
form input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}